<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Bian Lee</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    
    <body>
        <div id="container">
            <div class="content">
                <center>
                <div class="main-content">
                    <!-- <h1 class="global-title" style="user-select: none;">{{ site.title }}</h1>
                    {% if site.nav-links %} -->
      
                    <nav>
                        <ul>
                            {% for link in site.nav-links %}
                            <li style="font-size: 1.1rem;">        
                                {% if link.external == true %}
                                    <a style="color: black;" href="{{ link.url }}" {% if link.name == 'Resume' %}target="_blank"{% endif %}>
                                {% else %}
                                    <a {% if page.url == link.url %}style="text-decoration: underline; color: black; text-decoration-color: red; text-underline-position: under;"{% endif %} style="color: black" href="{{ link.url | prepend:site.url }}" {% if link.name == 'Discord' %}target="_blank"{% endif %}>
                                {% endif %}
                                    {{ link.name }}
                                </a>
                            </li>
                            
                            
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                </center>
   

    
