<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Bian Lee</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div id="container">
            <div class="content">
                <div class="main-content">
                  
                    <h1 class="global-title" style="user-select: none;">{{ site.title }}</h1>
                    {% if site.nav-links %}
      
                    <nav>
                        <ul>
                            {% for link in site.nav-links %}
                            <li>
                                {% if link.external == true %}
                                    <a href="{{ link.url }}" {% if link.name == 'Discord' %}target="_blank"{% endif %}>
                                {% else %}
                                    <a href="{{ link.url | prepend:site.url }}" {% if link.name == 'Discord' %}target="_blank"{% endif %}>
                                {% endif %}
                                    {{ link.name }}
                                </a>
                            </li>
                            
                            
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
   

    
