<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  />
  <link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}" />
</head>

<body>
  <div id="container-blog">
    {% if site.nav-links %} {% endif %} {% if page.is_post %}<a
      href="{{ '/writing' | prepend:site.url }}"
      >← Back to all posts</a
    >{% endif %} {% unless page.url == "/" %}
    <h1>
      {% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{
      post.title }}{% endif %}
    </h1>
    {% endunless %} {% if page.date %}
    <span class="timestamp timestamp-block">
      {% include post-date.html %}
    </span>
    {% endif %} {% if page.url == "/" %} {% include greeting.html %} {% endif %}
    {{ content }} {% include foot.html %}
  </div>
</body>
