---
---


:root {
  --bg-color: #ffffff;
  --text-color: #444;
  --heading-color: #333;
  --link-color: #b00;
  --card-bg-color: #ffffff;
  --card-border-color: #edebeb;
  --card-hover-bg-color: #f5f5f5;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a !important;
  --text-color: #cfcfcf !important;
  --heading-color: #f0f0f0 !important;
  --link-color: #e0e0e0 !important;
  --card-bg-color: #2a2a2a !important;
  --card-border-color: none !important;
  --card-hover-bg-color: #3f3f3f !important;
}


[data-theme="dark"] {
  * {
    color: var(--text-color) !important;
  }
  h1, h2, h3, h4 {
    color: var(--heading-color) !important;
  }
  a {
    color: var(--link-color) !important;
  }
}

[data-theme="dark"] {
  .card * {
    color: var(--card-text-color);
  }
  .card h3 {
    color: var(--heading-color);
  }
  .card a {
    color: var(--link-color);
  }
}

[data-theme="dark"] mark {
  background-color: #333333;
  color: #f0f0f0;
}

.card-link:hover {
  text-decoration: underline;
  color: var(--link-color);
}


[data-theme="dark"] .company, [data-theme="dark"] b {
  color: white !important;
  font-weight: normal !important;
}

[data-theme="dark"] .school-description, [data-theme="dark"] b {
  color: white !important;
  font-weight: normal !important;
}

[data-theme="dark"] .role, [data-theme="dark"] b {
  color: white !important;
  font-weight: normal !important;
}

[data-theme="dark"] .school-name, [data-theme="dark"] b {
  color: white !important;
  font-weight: normal !important;
}

//here
[data-theme="dark"] .content-school img {
  background-color: none;
  padding: 5px;
  border-radius: 5px;
}

:root {
  // ... other variables ...
  --tech-stack-color: gray;
}

[data-theme="dark"] {
  // ... other variables ...
  --tech-stack-color: #b0b0b0;
}

.card p span[style*="color: gray"] {
  color: var(--tech-stack-color) !important;
}

.card-link:hover {
  text-decoration: none !important;
}

.card {
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
  color: var(--card-text-color);
}

.card:hover {
  background-color: var(--card-hover-bg-color);
}

.card h3 {
  color: var(--heading-color);
}

.card p {
  color: var(--card-text-color);
}

.card-link {
  color: var(--card-text-color);
}




$accent-color: #b00; // link color
$font-stack:  "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif;
$heading-font-stack: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif; // system-ui, Helvetica, Arial, sans-serif; // use this to set a different font for your headings if you want
$code-font-stack: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif; // fonts for inline code and code blocks
$container-max-width: 880px; //820 // 1100

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

.card {
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}

.card:hover {
  background-color: var(--card-hover-bg-color);
}

@font-face {
  font-family: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif;

  font-weight: normal;
  font-style: normal;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 70%;
}

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.1rem;
  font-weight: 500;

}

// structure
body {
  font-family: $font-stack;
}

#container {
  width: 90%;
  max-width: $container-max-width;
  margin: 4rem auto;
}

#container-blog {
  width: 90%;
  max-width: 750px;
  margin: 4rem auto;
  font-size: 1.5rem !important;
  margin-top: 3rem !important;
}


// navigation
nav {
  margin: 1rem 0 1rem;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-radius: 5px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

/* styles.css */
/* Mobile Styles */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 0;
    left: 0; /* Center horizontally on mobile */
    width: 100%; /* Full width on mobile */
    text-align: center; /* Center the links */
    padding: 10px 0; /* Add top and bottom padding for spacing */
  }
  [data-theme="dark"] .content-school img {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
}


nav a {
  margin-right: 1rem;
}

// typography: heading
h1,
h2,
h3 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 2.5rem;
}

.global-title {
  font-family:  "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  // font-family: "Cedarville Cursive", cursive;
  //font-family: "satoshi";
  //font-family: "Inter Tight", sans-serif;
  // font-family: "satoshi";
  font-size: 3rem;
  color: #222;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h2,
h3 {
  margin: 2rem 0 0.5rem;
}

h4 {
  margin: 2.7rem 0 0.35rem;
}

// typography: body

p,
i, 
li {
  font-size: 1rem; //1.1
  line-height: 140%;
  color: #444;
  margin: 1.2rem 0;
  font-family:  "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times, serif;
}



li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
  font-size: inherit;
}
i{
  font-size: inherit;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
}


// images
img {
  max-width: 100%;
}

.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  margin-right: 1.5rem;
}

// homepage greeting component
.greeting-container {
  display: flex;
}

.greeting-container h3 {
  align-self: center;
  margin: 0;
}

// blog page
.posts-list-item {
  list-style: none;
  margin: 0rem 0;
}

.posts-list-title {
  margin-bottom: 0.2rem;
}

/*
.posts-list-item:first-of-type {
  margin-top: 1.1rem;
}
*/

.posts-list-item .title {
  margin: 0 0.25rem 0 0;
  display: inline-block;
}

.timestamp {
  color: #676767;
}
a:link {
  text-decoration: none;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}

code {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  //font-family: $code-font-stack;
}

.content-container-pfp {
  display: flex;
  align-items: center;
  min-height: 133px;

}

.content-container {
  display: flex;
  align-items: center;
  min-height: 133px;
  /*
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  */
  
}

/*
.content-container:hover {
  background-color: #f5f5f5;
}
*/


.content-container-album {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.content-text {
  flex: 1;
  margin-left: 10px;
  max-height: 100%;
}
.content-text-album {
  flex: top;
  margin-left: 10px;
}

.content-image {
  max-width: 100%;
  margin-right: 10px;
}
.firm-logo {
  border-radius: 5px;
  // border-color: #ddd;
  // border-style: solid;
  border-width: 1px;
}

.content-image-spot {
  max-width: 400px;
  margin-right: 10px;
}

.pfp-image {
  margin-top: 20px;
  max-width: 200px;
  margin-right: 15px;
  border-radius: 50%;
}

.internship-title {
  display: flex; /* Apply flexbox */
  align-items: center; /* Center items vertically */
}
.internship-title .role,
.internship-title .school-name,
.internship-title .company {
  font-size: 1.1rem;
}
.internship-title .school-description {
  font-size: 1.1rem;
}


.company {
  text-decoration: normal;
}
.school-name {
  text-decoration: normal;
}
.school-description {
  text-decoration: normal;
}

@media (max-width: 768px) {
  .content-text p {
    text-align: left;
  }

  .internship-title {
    flex-direction: column; /* Stack items vertically */
    margin: 0 auto;
  }
  .internship-title .company, .school-description {
    order: 1; /* make it -1 to reverse order */
  }
  
  
  .internship-title .role,
  .internship-title .school-name,
  .internship-title .company,
  .internship-title .school-description,
  .internship-title .location {
    margin: 0 auto;
    width: 100%;
  }

  .content-text .raw-text {
    text-align: left;
  }

  .internship-title .hyphen {
    display: none; /* Hide the hyphen on mobile */
  }

  .content-container, .content-container-pfp {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .content-container-album {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  
  .company {
    text-decoration: underline;
  }

  .school-name {
    text-decoration: underline;
  }



  .content-image {
    margin: 0 auto 0px;
  }
  .content-image-spot {
    margin: 0 auto 10px;
    max-width: 100%;
  }
  .content-text {
    flex: 1;
    margin-left: 10px;
    max-height: 100%;
  }
  /*
  .pfp-image {
    margin: 0 auto 10px;
  }
  */

  .content-text {
    margin: 0;
    margin-top: -10px;
  }
  .content-text-album {
    margin: 0;
  }
  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .image-container,
  .image-container-pfp {
    position: relative; /* Revert to normal positioning on smaller screens */
    margin-left: auto !important;
    margin-right: auto !important;
    transform: none;
  }
  .image-container {
    width: 28% !important;
  }
  p,
  li {
    font-size: 1.01rem; //1.1
    line-height: 142%;
  }
  li {
    margin: 0.2rem 0 0 1rem;
  }
}

mark {
  background-color: #fff0d1;
  font-size: inherit;
}

.image-container {
  width: 120px; /* Adjust the width as needed. 140 */
  margin-right: 8px;
  overflow: hidden; /* Hide any overflow content */
  position: relative; /* Create a positioning context for child elements */
}
.image-container-pfp {
  width: 200px;
  margin-right: 15px;
  overflow: hidden; /* Hide any overflow content */
  position: relative; /* Create a positioning context for child elements */
}

/* 
.optimizing {
  margin-top: 30px;
}

.fidelity {
  margin-top: 20px;
}
*/

footer {
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the spacing between icons as needed */
}

.social-icons a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 10px; /* Space between grid items */
}

.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio */
  overflow: hidden;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f2f0f0;
}

[data-theme="dark"] .grid-item img {
  background-color: #2a2a2a;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto auto; /* Two columns for smaller screens */
  }
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.active {
  text-decoration: underline;
}

img,
iframe {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.card {
  //background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  //border-color: #edebeb;
  border-width: 2px;
  border-style: solid;
  height: 100%;
}

.card h3 {
  margin-top: 0;
}


.card:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

[data-theme="dark"] .card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

[data-theme="dark"] {
  --card-border-color: #2a2a2a !important; /* Match this with the card background color in dark mode */
}

.card-link {
  display: block;
  text-decoration: none; /* Optional: removes underline from all text inside the link */
  color: inherit; /* Optional: retains original text color */
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 15px;
    padding-bottom: 0px;
  }
  .intro-line-height {
    line-height: 147%;
  }
}



.blog-font a {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .mobile-only:nth-child(odd) {
    /* Style for odd children */
    
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    border-color: var(--card-border-color);
    background-color: var(--card-bg-color);
    
    border-width: 1px;
    border-style: solid;
  }
  .mobile-only:nth-child(even) {
    /* Style for even children */

    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    border-color: var(--card-border-color);
    background-color: var(--card-bg-color);
    border-width: 1px;
    border-style: solid;

  }
}



/* Mobile views (max width 768px) */
@media (max-width: 768px) {
  .company-mark {
     
  }
}


nav {
  margin: 1rem 0 1rem;
  position: fixed;
  background-color: transparent; // Remove the white background
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-radius: 5px;
  transition: background-color 0.3s ease; // For smooth transition if you decide to add a background later
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

nav a {
  margin-right: 1rem;
  color: var(--text-color); // Use the text color variable
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover, nav a.active {
  color: var(--link-color); // Use the link color variable for hover and active states
}

// For better visibility on scroll, you might want to add a subtle background
// Uncomment this if you want a background to appear when scrolling
/*
.nav-scrolled {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
*/

// Mobile styles
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--bg-color); // Add background color for mobile
  }
}


#darkModeToggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  outline: none;

  /*
  &:hover {
    background-color: rgba(128, 128, 128, 0.1);
  }
  
  */

  // Custom focus style
  &:focus-visible {
    box-shadow: 0 0 0 2px var(--link-color);
  }
}

// For browsers that don't support :focus-visible
#darkModeToggle:focus:not(:focus-visible) {
  box-shadow: none;
}

// Media query for mobile devices
@media (max-width: 768px) {
  #darkModeToggle {
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    display: none;
  }
}

#darkModeToggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

#darkModeToggle:focus-visible {
  box-shadow: 0 0 0 2px var(--link-color);
}

// For browsers that don't support :focus-visible
#darkModeToggle:focus:not(:focus-visible) {
  box-shadow: none;
}

// Media query for mobile devices
@media (max-width: 768px) {
  #darkModeToggle {
    top: 12px;
    left: 12px;
    font-size: 1.2rem;
    position: absolute;
   
  }

  .show-darkModeToggle {
    display: block !important; /* Show when conditionally added via JavaScript */
  }
}


@media (min-width: 768px) {
  .web-only-margin {
    margin-top: 2.5rem;
  }
}

:root {
  --bg-color: #1a1a1a;
  --text-color: #cfcfcf;
  /* other dark mode variables */
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #444;
  /* other light mode variables */
}