---
---

$accent-color: #b00; // link color
$font-stack: Georgia, serif;
$heading-font-stack: Georgia; // system-ui, Helvetica, Arial, sans-serif; // use this to set a different font for your headings if you want
$code-font-stack: Inconsolata, monospace; // fonts for inline code and code blocks
$container-max-width: 1100px; //820

@font-face {
  font-family: "satoshi";
  src: url("../Satoshi-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 70%;
}

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// structure
body {
  font-family: $font-stack;
}

#container {
  width: 90%;
  max-width: $container-max-width;
  margin: 4rem auto;
}

#container-blog {
  width: 90%;
  max-width: 750px;
  margin: 4rem auto;
  margin-top: 3rem !important;
}

// navigation
nav {
  margin: 1rem 0 1rem;
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-radius: 5px;
  
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

/* styles.css */
/* Mobile Styles */
@media (max-width: 768px) {
  nav {
      position: absolute;
      top: 0;
      left: 0; /* Center horizontally on mobile */
      width: 100%; /* Full width on mobile */
      text-align: center; /* Center the links */
      padding: 10px 0; /* Add top and bottom padding for spacing */
  }
}


nav a {
  margin-right: 1rem;
}

// typography: heading
h1,
h2,
h3 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 2.5rem;
}

.global-title {
  font-family: "courier";
  font-weight: normal;
  // font-family: "Cedarville Cursive", cursive;
  //font-family: "satoshi";
  //font-family: "Inter Tight", sans-serif;
  // font-family: "satoshi";
  font-size: 3rem;
  color: #222;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  margin: 2rem 0 0.5rem;
}

// typography: body
p,
li {
  font-size: 1.05rem; //1.1
  line-height: 150%;
  color: #444;
  margin: 1.2rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
}

// images
img {
  max-width: 100%;
}

.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  margin-right: 1.5rem;
}

// homepage greeting component
.greeting-container {
  display: flex;
}

.greeting-container h3 {
  align-self: center;
  margin: 0;
}

// blog page
.posts-list-item {
  list-style: none;
  margin: 0rem 0;
}


.posts-list-title {
  margin-bottom: 0.2rem;
}

/*
.posts-list-item:first-of-type {
  margin-top: 1.1rem;
}
*/

.posts-list-item .title {
  margin: 0 0.25rem 0 0;
  display: inline-block;
}

.timestamp {
  color: #676767;
}
a:link {
  text-decoration: none;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}

code {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  font-family: $code-font-stack;
}

.content-container {
  display: flex;
  align-items: center;
  min-height: 155px;
}
.content-container-album {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.content-text {
  flex: 1;
  margin-left: 10px;
  max-height: 100%;
}
.content-text-album {
  flex: top;
  margin-left: 10px;
}

.content-image {
  max-width: 100%;
  margin-right: 10px;
}
.content-image-spot {
  max-width: 400px;
  margin-right: 10px;
}

.pfp-image {
  margin-top: 20px;
  max-width: 200px;
  margin-right: 15px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .content-container-album {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .content-image {
    margin: 0 auto 10px;
  }
  .content-image-spot {
    margin: 0 auto 10px;
    max-width: 100%;
  }
  /*
  .pfp-image {
    margin: 0 auto 10px;
  }
  */

  .content-text {
    margin: 0;
  }
  .content-text-album {
    margin: 0;
  }
  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .image-container,
  .image-container-pfp {
    position: relative; /* Revert to normal positioning on smaller screens */
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    transform: none;
  }

  
}

mark {
  background-color: #fff0d1;
}

.image-container {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
  overflow: hidden; /* Hide any overflow content */
  position: relative; /* Create a positioning context for child elements */
}
.image-container-pfp {
  width: 200px;
  margin-right: 15px;
  overflow: hidden; /* Hide any overflow content */
  position: relative; /* Create a positioning context for child elements */
}


/* 
.optimizing {
  margin-top: 30px;
}

.fidelity {
  margin-top: 20px;
}
*/ 



footer {
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the spacing between icons as needed */
}

.social-icons a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 10px; /* Space between grid items */
}

.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio */
  overflow: hidden;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .grid-container {
      grid-template-columns: auto auto; /* Two columns for smaller screens */
  }
}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.active {
  text-decoration: underline;
}

img, iframe {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}